* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.efect {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    width: 100%;
}

body {
    min-height: 100vh;
    background-image: url(imagens/fundo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'B612';
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'B612';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 45px 0 35px;
}

h1 {
    font-family: 'B612';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 118px;
    text-align: center;
    margin-bottom: 120px;
}

main {
    display: flex;
}

.capa {
    margin: 0 10vw;
}

.content {
    margin-right: 11%;
    max-width: 100vw;
}

.content p {
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-family: 'B612';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 45px 0;
}

.info .duration {
    display: -webkit-box;
}

#btn1 {
    background: #0072D2;
    border-radius: 3px;
    width: 184px;
    height: 52px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

#btn2 {
    margin-left: 21px;
    margin-bottom: 111px;
    background: #131318;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    width: 115px;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.mobile p {
    display: none;
}

@media screen and (max-width:710px) {
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    h1 {
        font-size: 64px;
        line-height: 78px;
    }
    main {
        display: block;
    }
    img.capa {
        display: none;
    }
    .content {
        margin-right: 0px;
    }
    .content #p1 {
        margin: 0 24px;
        font-size: 14px;
        line-height: 140%;
        display: none;
    }
    .info {
        margin: 298px 24px 41px;
        font-size: 17px;
        line-height: 20px;
    }
    .info img {
        width: 25px;
        height: 25px;
    }
    .stars img {
        width: 20px;
        height: 20px;
    }
    .mobile {
        background-color: #19191F;
        border-radius: 20px 20px 0px 0px;
        height: 50vh;
    }
    #btn1,
    #btn2 {
        margin: 32px 0 0;
        width: 40vw;
        height: 35px;
        font-size: 14px;
        line-height: 19px;
    }
    #btn1 {
        margin-left: 24px;
    }
    #btn2 {
        margin-left: 11px;
        margin-bottom: 0px;
    }
    #linha {
        background-color: rgba(196, 196, 196, 0.08);
        height: 1px;
        margin: 24px 0;
    }
    .mobile p {
        display: block;
        margin-bottom: 25vh;
    }
}